* {
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
}

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}


.container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.card {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 60px;
}

.card-sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-suv {
    background-color: hsl(184, 100%, 22%);
}

.card-luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.head {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: hsl(0, 0%, 95%);
}

.desc {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.btn {
    width: 120px;
    height: 40px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-sedan {
    color: hsl(31, 77%, 52%);
}

.btn-suv {
    color: hsl(184, 100%, 22%);
}

.btn-luxury {
    color: hsl(179, 100%, 13%);
}